<nav>
    <a href="/">Home</a>
    <a href="/admin">Admin</a>
    <a href="https://github.com/buaypd" target="_blank">GitHub</a>
    <a href="https://linkedin.com/in/buay-dak-112821238" target="_blank">LinkedIn</a>
</nav>