<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="icon" href="images/contactFavicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<main>

<form id="contact-form" class="contact-form" action="#" method="get">
    <h1>Contact Form</h1>
    <div class="contact-row1">
    <div class="field">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="fname">
      <span class="err" id="err-fname"></span>
    </div>

    <div class="field">
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lname">
      <span class="err" id="err-lname"></span>
    </div>

    <div class="field">
      <label for="jobTitle">Job Title</label>
      <input type="text" id="jobTitle" name="jobTitle">
      <span class="err" id="err-jobTitle"></span>
    </div>
  </div>

<div class="form-row">
  <div class="field">
    <label for="company">Company</label>
    <input type="text" id="company" name="company">
      <span class="err" id="err-company"></span>
  </div>

  <div class="field">
    <label for="linkedin">LinkedIn URL</label>
    <input type="text" id="linkedin" name="linkedin">
    <span class="err" id="err-linkedin"></span>
  </div>

  <div class="field">
    <label for="email">Email Address</label>
    <input type="email" id="email" name="email">
    <span class="err" id="err-email"></span>
  </div>
</div>

  <div class="form-row">
  <div class="field">
    <label for="meet">How did we meet?</label>
    <select id="meet" name="meet">
      <option value="">Please select</option>
      <option value="school">School</option>
      <option value="work">Work</option>
      <option value="networking">Networking Event</option>
      <option value="online">Online</option>
    </select>
    <span class="err" id="err-meet"></span>
  </div>

  <div class="field">
    <label for="other">Other (please specify)</label>
    <input type="text" id="other" name="other">
      <span class="err" id="err-other"></span>
  </div>
</div>

    <div class="field message-field">
  <label for="comment">Message</label>
  <textarea name="comment" id="comment" rows="5"></textarea>
  <span class="err" id="err-comment"></span>
</div>

    <div class="checkbox">
  <label>
    <input type="checkbox" id="mailingList" name="mailingList">
    Please add me to your mailing list
  </label>
</div>
<div class="radio-group">
  <span>Choose an email format:</span>
  <label>
    <input type="radio" name="emailFormat" value="html" checked>
    HTML
  </label>
  <label>
    <input type="radio" name="emailFormat" value="text">
    Text
  </label>
</div>
<button type="submit">Submit</button>
</form>
</main>
<script src="/js/contact.js"></script>
</body>
</html>