* {
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 236, 236);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
  max-width: 900px;
  background-color: white;
  padding: 25px;
  margin: 40px auto;
  border-radius: 6px;
 
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 25px;
}

.contact-row1,
.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
.field.full {
  margin-bottom: 15px;
}

textarea {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #272626;
  border-radius: 4px;
  resize: vertical;
}


.checkbox,
.radio-group {
  display: flex;
  gap: 5px;
  align-items: center;
  
}
.checkbox label {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 1.3;
}
.radio-group label {
    display: flex;
    align-items: center;
}
.radio-group {
    margin-top: -15px;;
}


.radio-group span {
  font-weight: bold;
}

button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.message-field {
  margin-bottom: 15px;
}
input,
select {
  height: 35px;
}
